@model IEnumerable<APSI_ResevationMod.Models.RESOURCES>

@{
    ViewBag.Title = "ResourceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResourceList</h2>

<p>
    @Html.ActionLink("Create New", "CreateResource")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Reserve", "ResourceReservation", new { id = item.ResourceId})
        </td>
        
    </tr>
}

</table>
