@model APSI_ResevationMod.Models.RoomDetails

<div class="details">
    @Html.Label("Room Code")
    <div>
        @Html.DisplayFor(m => m.RoomCode, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

  
    <div>
        <hr />
        <div>
            <b>Reservations</b>
            <table style="width:100%">
                <tr>
                    <th>Reservation Id</th>
                    <th>Forname</th>
                    <th>Surname</th>
                    <th>Project name</th>
                    <th>Project code</th>
                    <th>Date From</th>
                    <th>Date To</th>
                </tr>
                @foreach (var reservation in Model.reservations)
                {
                <tr>
                    <td>@reservation.RoomResId</td>
                    <td>@Model.employees.Find(s => s.EmployeeId == reservation.EmployeeId).Forename</td>
                    <td>@Model.employees.Find(s => s.EmployeeId == reservation.EmployeeId).Surname</td>
                    <td>@Model.projects.Find(s => s.ProjectCode == reservation.ProjectCode).Name</td>
                    <td>@reservation.ProjectCode </td>
                    <td>@reservation.BeginDate</td>
                    <td>@reservation.EndDate</td>
                </tr>
                }
            </table>
        </div>
    </div>
          
    <p>
        @Html.ActionLink("Back to List", "RoomList")
    </p>
