@model APSI_ResevationMod.Models.DetailsUser

@{
    ViewBag.Title = "User";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="row page-box">
    <div class="col-sm-12">


        @using (Html.BeginForm("Apply"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.User.Name)
                <div>
                    @Html.DisplayFor(m => m.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.Surname)
                <div>
                    @Html.DisplayFor(m => m.User.Surname, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.EmployeeID)
                <div>
                    @Html.DisplayFor(m => m.User.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.ContactPhone)
                <div>
                    @Html.DisplayFor(m => m.User.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.DateOfbirth)
                <div>
                    @Html.DisplayFor(m => m.User.DateOfbirth, "", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                </div>
            </div>
        }
    </div>
</div>

<div class="row page-box">

    <b>Reservation table</b>
    <table style="width:100%">
        <tr>
            <th> Project</th>
            <th>EmployeeID</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Time Percent Reserved</th>
        </tr>
        @foreach (var userReservation in Model.UserReservation)
        {
            <tr>
                <td>@userReservation.Project</td>
                <td>@userReservation.EmployeeID</td>
                <td>@userReservation.DateFrom</td>
                <td>@userReservation.DateTo</td>
                <td>@userReservation.TimePercentReserved</td>
            </tr>
        }
    </table>
</div>





